// Common Styles
html, body { padding: 0; margin: 0;} 
html * {
    font-family: Nunito, sans-serif;
}

.padding {
    padding: 10px;
}

.margin {
    margin: 10px;
}

.margin-right {
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

.margin-left--double {
    margin-left: 20px;
}

.margin-top {
    margin-top: 10px;
}

.margin-top--double {
    margin-top: 20px;
}

.margin-bottom {
    margin-top: 10px;
}

.is-block {
    display: block;
}

.is-inline-block {
    display: inline-block;
}

.is-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.is-text-center {
    text-align: center;
}