<app-header></app-header>

<div class="flex-container">
    <app-search class="search" (searchOutput)="findLocation($event)"></app-search>
    <div *ngIf="location" class="margin-top">
        <h2 class="is-text-center">{{location.name}}, {{location.region}}</h2>
        <h2 class="is-text-center">{{location.country}}</h2>
    </div>
    <div class="margin-top--double">
        <h2 *ngIf="error" class="error">Location not found</h2>
        <h2 *ngIf="!hasSearched">Search for a location</h2>
    </div>
    <app-weather-display *ngIf="forcast" [forcast]="forcast"></app-weather-display>
</div>

